Persons.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="persons">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PersonType" type="xs:string" minOccurs="1"/>
              <xs:element name="LastName" type="xs:string" minOccurs="1"/>
              <xs:element name="fullName" type="xs:string" minOccurs="1"/>
              <xs:element name="FirstName" type="xs:string" minOccurs="1"/>
              <xs:element name="BusinessEntityID" type="xs:int" minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
